* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRM3tJH417CITrIz6ZjAp5Kgamai7NwN4Je9Q&s);
  background-size: cover;
  background-repeat: no-repeat;
}

section {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
}

section h2 {
  text-align: center;
  width: 100%;
  margin-bottom: 1em;
  font-size: 2.5em;
  color: white;
}

section form {
  padding: 1.5em;
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.769);
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRM3tJH417CITrIz6ZjAp5Kgamai7NwN4Je9Q&s);
  background-size: cover;
  background-repeat: no-repeat;
}

section form label {
  width: 100%;
  padding: 0.2em;
  margin-bottom: 0.5em;
  color: white;
  text-align: center;
}

section form input {
  width: 100%;
  margin-bottom: 1em;
  padding: 0.8em;
  border-radius: 9px;
  border: none;
  outline-color: #0a3253;
  background-color: whitesmoke;
}

section form input[type="submit"] {
  margin-top: 1.5em;
  background-color: #071724;
  color: #ffffff;
  cursor: pointer;
}

section form input[type="submit"]:active {
  transform: scale(0.97);
}

section p {
  margin-top: 1.5em;
  color: white;
}

section p a {
  text-decoration: none;
  color: #0015ff;
}
